<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-2xl">Pizza Toppings List</h1>
  </div>

  <div id="toppings" class="min-w-full">
  <strong class="block font-medium py-3 mb-1">Name:</strong>
     <% if @toppings.empty?  %>
    <p>There are currently no avaliable toppings</p>
    <div class="py-3"></div>
    <% else %>
    <%= render @toppings %>
    <%end%>
  <%= link_to 'Add New Topping', new_topping_path, class: "rounded-lg py-3 ml-2 px-5 hover:text-white hover:bg-red-900 bg-gray-100 font-medium" %>
  </div>
  <div class="py-2"></div>
</div>
