<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Add New Pizza Topping</h1>

  <%= render "form", topping: @topping %>

  <%= link_to 'Back', toppings_path, class: "m-2 actions inline-block px-6 py-2.5 bg-slate-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md 
      hover:bg-slate-800 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-900 active:shadow-lg transition duration-150 ease-in-out" %>
</div>
