<div class="mx-auto m-2">
  <h1 class="font-bold text-4xl">Create New Pizza</h1>

  <%= render "form", pizza: @pizza %>

  <%= link_to 'Back', pizzas_path, class: "rounded-lg py-3 ml-2 px-5 hover:text-white hover:bg-red-900 bg-gray-100 font-medium" %>
</div>
