<div class="relative">
  <h2 class="absolute top-left text-white font-bold text-4xl m-2">Create New Pizza</h2>
  <%= image_tag "anthony-duran-QbOvrpDU1KA-unsplash.jpg", class: "object-cover h-40 w-full"%>
</div>
<div class="mx-auto m-2">

  <%= render "form", pizza: @pizza %>
  <%= link_to 'Back', pizzas_path, class: "m-2 actions inline-block px-6 py-2.5 bg-slate-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md 
      hover:bg-slate-800 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-900 active:shadow-lg transition duration-150 ease-in-out" %>
      
</div>
