<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
<!--   <h3>The Ultimate Pizza Machine</h3> -->
<nav class="bg-red- shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex space-x-7">
                    <%= link_to "Home", root_path %>
                    <%= link_to "Login", home_login_path %>
            </div>
        </div>
    </nav>