<html>
    <h1>2501 Ave Pizzeria</h1>
   <!--   <h3>The Ultimate Pizza Machine</h3> -->
       <div class="navbar navbar-fixed-top">
            <ul class="nav navbar-nav pull-right">
                <%= link_to "Home", root_path %>
                <%= link_to "Login", home_login_path %>
            </ul>
        </div>
</html>
